.modal-navigation {
    display: none;
    padding: 20px;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;
    background-color: #ffffff;
    &__top {
        margin-bottom: 25px;
        .close-button {
                outline: none;
                position: relative;
                top: 0;
                left: 5px;
                width: 20px;
                height: 20px;
                font-size: 0;
                background: none;
                border: none;
              &:after,
              &:before {
                position: absolute;
                content: "";
                right: 0;
                top: 20px;
                width: 26px;
                height: 4px;
                margin: -13px -3px;
                background-color: #ee6600;
                
              }
              &:before {
                transform: rotate(45deg);
              }
              &:after {
                transform: rotate(-45deg);
              }
        }
        .search-field {
            position: relative;
            border: 2px solid #ebebeb;
            overflow: hidden;
            display: flex;
            align-items: center;
            &__input {
                font-family: Arial;
                @include font(300, 20px, $strongGrayText);
                padding: 10px;
                padding-right: 39px;
                width: 230px;
                border: none;
            }
            &__button {
                position: absolute;
                right: 0;
                background: url(./../../build/img/search.png) no-repeat center;
                width: 18px;
                height: 18px;
                margin-right: 11px;
                z-index: 1;
                background-size: cover;
            }
        }
        
    }
    &__bottom {
        &__list { 
            &__item {
                border-top: 2px solid #ebebeb;
                padding: 10px 12px 10px 5px;
                a {
                    @include font(400, 13px, $strongGrayText);
                    line-height: 25px;
                    font-family: Arial, Helvetica, sans-serif;
                    text-decoration: none;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                   &:after {
                       content: '';
                       display: block;
                       background: url(./../../build/img/menu_arrow.png) no-repeat center;
                       width: 12px;
                       height: 10px;
                   }
                }
                &:last-child {
                   border-bottom: 2px solid #ebebeb;
                }
            }
            
        }
    }
}