@import "./libs/bootstrap/bootstrap.scss";
@import "./variables";
@import "./libs/countDown";
@import "./general";
@import "./header";
@import "./black-friday";
@import "./navigation-menu";
@import "./catalog";
@import "./product-card";
@import "./modal-navigation";
@import "./timer";









